* {
    /* Universal Selector: Global Reset */
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100vw;
    margin: 0;
    padding: 0;
    /* Disable ScrollBar on Internet Explorer 10+ */
    -ms-overflow-style: none;
    /* Disable ScrollBar on Firefox */
    scrollbar-width: none;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
}

body::-webkit-scrollbar {
    /* Disable ScrollBar on Safari & Chrome */
    display: none;
}